.transactionInfoDiv {
  @apply h-full w-full flex items-center justify-center break-all px-4 pt-4 flex-col;

  .transaction {
    @apply flex flex-col w-full break-all h-full;
  }
}

.group {
  @apply mb-4;

  .transactionP {
    @apply break-all text-base font-medium block mb-1;
  }

  span {
    @apply block p-4 text-base font-medium text-[#787575] rounded-xl bg-grey-300;
  }
}

.explorerBtn {
  @apply px-5 py-2 h-12 flex items-center justify-center rounded-xl font-medium bg-primary text-text text-sm mb-4 max-standard:w-full;
}

.summary {
  @apply list-none cursor-pointer text-sm flex gap-2 mt-1;
}

.details {
  @apply mt-2;
}

.table {
  @apply relative;

  &Group {
    @apply flex gap-2 w-full items-center;
  }

  &First {
    @apply break-all bg-input-bg rounded-xl px-3 py-2 w-4/5 text-sm text-center select-none cursor-pointer;
  }

  &Second {
    @apply text-sm font-medium;
  }

  &List {
    @apply flex flex-col gap-3;
  }

  >h3 {
    @apply font-medium;
  }

  &Container {
    @apply flex flex-col gap-5 max-h-[450px] overflow-y-auto;
  }
}

.active {
  @apply bg-green-300 text-bg;
}